{% extends "layout.html" %}

{% block content %}


    <div class="row">
        <!-- <div class="col-md-12 text-center">
            <h1 style="color: darkmagenta;">ABC Hospital Management</h1></style>
            <h3>Life is a most percious thing</h3>
        </div> -->
        <div class="container-fluid text-center top-container">
            <h2 style="color: darkblue;">ABC Hospital</h2></style>
            <h3 style="color: darkmagenta;">Life is a most percious thing</h3></style>
            <img src="static/images/hospital.jpeg">
        </div>
    </div>

{% endblock %}